{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>TechJobs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'empregos_app/assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header class="major">
					<!-- Two <img src="{% static 'empregos_app/images/logo.png' %}">-->
					<a href="{% url 'empregos_app:home' %}"><h1>TechJobs</h1></a>
					<p>As melhores ofertas de empregos na área de TI em Santa Catarina</a></p>
				</header>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="container">
					{% block content %}
            		{% endblock %}
				</div>
				<footer>
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/maiconrockers" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; MaiconFuck</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</footer>
			</section>

		<!-- Scripts -->
			<script src="{% static 'empregos_app/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/util.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/main.js' %}"></script>

	</body>
</html>