{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>TechJobs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'empregos_app/assets/css/main.css' %}" />
	</head>
	<body>
		<!-- Header -->
			<section id="header">
				<header class="major">
					<!-- Two <img src="{% static 'empregos_app/images/logo.png' %}">-->
					<a href="{% url 'empregos_app:home' %}"><h1>TechJobs</h1></a>
					<p>As melhores ofertas de empregos na área de TI em Santa Catarina</p>
				</header>
				<div class="container">
					<ul class="actions">
						<li><a href="#one" class="button special scrolly">Iniciar</a></li>
					</ul>
				</div>
			</section>

		<!-- Empregos -->
		{% for lista_empregos in listas_empregos %}
			<section id="one" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="{% static 'empregos_app/images/pic01.jpg' %}" alt="" /></span>
					<div class="content">
						<span class="icon major fa-th-list"></span>
						<h2>Descrição do Emprego:</h2>						
						<header class="major">
							<h1>{{lista_empregos.titulo}}</h1>
						</header>
						<p>{{lista_empregos.descricao}}</p>
						<p>Salário: R$ {{lista_empregos.salario}}</p>
						<p>Contato: {{lista_empregos.contato}}</p>
						<p>{{lista_empregos.autor}}</p>
					</div>
					<a href="#two" class="goto-next scrolly">Próximo</a>
				</div>
			</section>

		{% endfor %}

		<!-- Three -->
			<section id="two" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="{% static 'empregos_app/images/pic02.jpg' %}" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Links Úteis</h2>
						</header>
						<p>Alguns links úteis para você cadastrar seu emprego, administrar seus posts e muito mais!</p>
						<ul class="icons-grid">
							<li>
								<span class="icon major fa-check-square-o"></span>
								<a href="{% url 'empregos_app:novo_emprego'%}""><h3>Cadastrar</h3></a>
							</li>
							<li>
								<span class="icon major fa-user"></span>
								<a href="{% url 'login' %}"><h3>Login</h3></a>
							</li>
							<li>
								<span class="icon major fa-code"></span>
								<a href="{% url 'servicos_app:home_servicos' %}"><h3>Serviços</h3></a>
							</li>
							<li>
								<span class="icon major  fa-pencil-square-o"></span>
								<a href="{% url 'empregos_app:lista_empresas' %}"><h3>Empresas</h3></a>
							</li>
						</ul>
					</div>
					<a href="#footer" class="goto-next scrolly">Próximo</a>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>Entre em contato conosco!</h2>
					</header>
					<form method="post" action="#">
						<div class="row uniform">
							<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Nome" /></div>
							<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
							<div class="12u$"><textarea name="message" id="message" placeholder="Mensagem" rows="4"></textarea></div>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Enviar Mensagem" class="special" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<footer>
					<ul class="icons">
						<li><a href="https://www.facebook.com/maiconrockers" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.gmail.com" target="_blank" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; MaiconFuck</li>
					</ul>
				</footer>
			</section>

		<!-- Scripts -->
			<script src="{% static 'empregos_app/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'empregos_app/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'empregos_app/assets/js/main.js' %}"></script>

	</body>
</html>